*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
app/libs/
pullrefreshlib/build/generated/assets/
pullrefreshlib/build/generated/res/
pullrefreshlib/build/generated/source/aidl/
pullrefreshlib/build/generated/source/rs/
pullrefreshlib/build/intermediates/assets/
pullrefreshlib/build/intermediates/bundles/debug/aidl/
pullrefreshlib/build/intermediates/bundles/debug/assets/
pullrefreshlib/build/intermediates/bundles/debug/jni/
pullrefreshlib/build/intermediates/bundles/debug/libs/
pullrefreshlib/build/intermediates/bundles/release/aidl/
pullrefreshlib/build/intermediates/bundles/release/assets/
pullrefreshlib/build/intermediates/bundles/release/jni/
pullrefreshlib/build/intermediates/bundles/release/libs/
pullrefreshlib/build/intermediates/dependency-cache/
pullrefreshlib/build/intermediates/jniLibs/
pullrefreshlib/build/intermediates/lint/
pullrefreshlib/build/intermediates/manifest/tmp/
pullrefreshlib/build/intermediates/rs/
pullrefreshlib/build/intermediates/shaders/
pullrefreshlib/build/intermediates/transforms/
pullrefreshlib/build/tmp/
