<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyuan.fifish"
    >
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Required -->
    <permission
        android:name="com.qiyuan.fifish.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.qiyuan.fifish.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddLabelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PublishVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PublishPictureActivity"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".ui.activity.MapSearchAddressActivity"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".ui.activity.FavoriteProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewFansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SupportProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SystemNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CompleteUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SystemSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditUserSignatureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TagActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".album.ImageSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PoiKeywordSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FindFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShareDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShareDialogBottom"
            />
        <activity
            android:name=".ui.activity.CommentsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            />
        <activity
            android:name="com.example.testffmpeg.VideoPlayActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity android:name="com.tcp.TcpActivity" />
        <activity android:name="com.tcp.TcpSecActivity" />
        <activity android:name="com.tcp.RulerActivity" />
        <activity
            android:name="com.example.testffmpeg.SetVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.album.OptionAlbumActivity" />
        <activity android:name="com.album.OptionPhotoActivity" />
        <activity android:name="com.album.ShowPhotoActivity" />
        <activity android:name="com.album.FilterMirrorActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- start tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105852250" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- end tencent -->

        <!-- start facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider322451778141956"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- end facebook -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="583c0abe734be431770010b7" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <!--高德地图key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="86543ac3c1cab4a6758afd856cb06bda" />

        <service android:name="com.amap.api.location.APSService" />
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.qiyuan.fifish.reciever.CustomReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.qiyuan.fifish" />
            </intent-filter>
        </receiver>
    </application>

</manifest>