<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyuan.fifish">
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddLabelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PublishVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PublishPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MapSearchAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FavoriteProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewFansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SupportProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SystemNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CompleteUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SystemSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditUserSignatureActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.TagActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".album.ImageSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FindFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testffmpeg.VideoPlayActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity android:name="com.tcp.TcpActivity" />
        <activity android:name="com.tcp.TcpSecActivity" />
        <activity android:name="com.tcp.RulerActivity" />
        <activity
            android:name="com.example.testffmpeg.SetVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.album.OptionAlbumActivity" />
        <activity android:name="com.album.OptionPhotoActivity" />
        <activity android:name="com.album.ShowPhotoActivity" />
        <activity android:name="com.album.FilterMirrorActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- start tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- end tencent -->


        <!-- start facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider487692214752558"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="facebook_app_id" />
        <!-- end facebook -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="583c0abe734be431770010b7" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />


    </application>

</manifest>